<label>Server Name</label>
<!--<input
  type="text"
  class="form-control"
  (input)="onServerUpdateName($event)">-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<br/>
<p> The server name is : {{serverName}}</p>
<br/>

<button
        class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
<!--<p>{{allowNewServer}}</p> string interpolation-->
<!--<p [innerText]="allowNewServer"></p>  Property Binding -->
<p>{{serveCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>
